<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content <%- include partials/Home.ejs %>-->
  <main>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




